.my-layout {
  min-height: 100vh;
}

.my-header {
  padding: 0;
  color: white;
  width: 100%;
  text-align: center;
}

.my-footer {
  position: sticky;
  bottom: 0;
}

.my-card {
  width: 300px;
  height: 300px;
  margin-top: 16px;
  margin-bottom: 8px;
}

.my-card-2 {
  width: 288px;
  height: 288px;
  margin-top: 8px;
  margin-bottom: 4px;
}

html,
body,
.my-bg {
  background-color: rgb(52, 58, 64) !important;
}

.my-bg-2 {
  background-color: #53595f !important;
}

.text-black-bold {
  color: rgb(52, 58, 64) !important;
  font-weight: bold;
}

.text-center {
  text-align: center;
}

.text-white {
  color: white !important;
}

.logo {
  max-height: 140px;
  max-width: 140px;
  display: inline-block;
  margin: 0 auto;
}

.site-layout {
  width: auto !important;
}

.bg-border {
  border: rgb(52, 58, 64) !important;
}

.ml-1 {
  margin-left: 10px;
}

.ml-6px {
  margin-left: 6px;
}

.ml-16px {
  margin-left: 16px;
}

.mt-7px {
  margin-top: 7px;
}

.mt-14px {
  margin-top: 14px;
}

.mt-1 {
  margin-top: 10px;
}

.mr-1 {
  margin-right: 10px;
}

.mb-1 {
  margin-bottom: 10px;
}

.text-black-bold {
  color: rgb(52, 58, 64) !important;
  font-weight: bold;
}

.text-white {
  color: white !important;
}

.d-flex {
  display: flex;
}

.d-inline-flex {
  display: inline-flex;
}

.w-100 {
  width: 100%;
}

.float-right {
  float: right;
}

.pagination {
  padding-top: 6px;
  display: flex;
  flex: wrap;
  justify-content: center;
}

.h-32px {
  height: 32px !important;
}

.map-selector-multiple-players {
  min-width: 240px !important;
  max-width: 292px !important;
}

.map-selector-single-player {
  min-width: 292px !important;
  max-width: 300px !important;
}

.ant-input {
  min-width: 198px !important;
}

.ant-menu-item-selected,
.ant-table-title,
.ant-layout-sider-trigger {
  background-color: #53595f !important;
}

.ant-layout-sider-trigger {
  position: sticky !important;
}

.ant-layout {
  width: auto !important;
}

.ant-menu-sub {
  background-color: rgb(52, 58, 64) !important;
}

.ant-card {
  border: 1px solid rgb(202, 200, 200);
}

.ant-card-body {
  background-color: lightgray;
}

.ant-row,
.ant-row:after,
.ant-row:before {
  justify-content: space-evenly;
}

.ant-table-row {
  pointer-events: none;
}

.ant-pagination-item-active {
  border-color: rgb(52, 58, 64) !important;
}

.ant-pagination-item-active a {
  color: rgb(52, 58, 64) !important;
}

.ant-pagination-item,
.ant-pagination-item-ellipsis,
.ant-pagination-jump-next,
.ant-pagination-item-link {
  background-color: white !important;
}

.ant-pagination-item-link-icon,
.ant-pagination-item-link:hover,
.ant-pagination-item:hover,
.ant-pagination-item a:hover {
  border-color: #53595f !important;
  color: #53595f !important;
}

.ant-table-pagination.ant-pagination {
  margin: 0 !important;
}

.ant-table-tbody {
  background-color: #53595f !important;
  pointer-events: none !important;
}

.ant-empty-description,
.ant-radio-wrapper {
  color: white !important;
}

.ant-menu-sub {
  background-color: rgb(52, 58, 64) !important;
}

.ant-typography,
.ant-table-cell {
  color: white !important;
}

.ant-table-thead > tr > th,
.ant-spin-dot-item {
  background-color: rgb(52, 58, 64) !important;
}

.ant-radio-inner:after {
  background: rgb(52, 58, 64) !important;
}

.ant-radio-checked .ant-radio-inner,
.ant-radio:hover .ant-radio-inner,
.ant-radio-wrapper:hover,
.ant-radio-input:focus .ant-radio-inner {
  border-color: rgb(52, 58, 64) !important;
}

.ant-form-item-label > label::after {
  color: white !important;
}

.ant-input {
  min-width: 192px !important;
  max-width: 224px !important;
}
.ant-form-item {
  min-width: 275px !important;
  max-width: 275px !important;
}

.ant-select:not(.ant-select-disabled):hover .ant-select-selector {
  border-color: rgb(52, 58, 64) !important;
}

.ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
  background-color: #53595f !important;
  color: white !important;
}
